body{
	font-size: 80%;
	font-family: 'Droid Sans Mono';
	letter-spacing: 0.15em;
	}
	
.page{
	text-align: center;
	max-width:1200px;
	min-width:720px;
	margin: 10px auto 10px auto;
	padding: 20px;
}
h1{
	position:absolute;
	font-family: 'Permanent Marker', cursive;
  	font-size:60px;
	left:20px;
}